body {
  margin: 0;
}
.item {
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 10px 5px 5px hsla(0, 0%, 80%, 0.1);
  padding: 20px;
  max-width: 200px;
  height: 280px;
  display: inline-block;
}
.item .img{
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 98%);
  height: 120px;
  width: 150px;
  margin-bottom: 5px;
}
.item .item-title{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, sans-serif;
  margin: 0px;
  color: hsla(0, 0%, 55%, 0.958);
}
.item .item-description {
  height: 20px;
  font-family: Arial, sans-serif;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item .item-price {
  /* border: 2px solid hsl(0, 0%, 80%); */
  padding: 5px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.add-button {
  background-color: burlywood;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
.item-card {
  position: relative;
  width: 240px;
}
.add-container {
  position: absolute;
  bottom: 8px;
  right: 10px;
}
.item-display {
  border: 2px solid hsl(0, 0%, 80%);
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px;
  gap: 20px;
  margin-top: 20px;
}
.header-display {
  border: 2px solid hsl(0, 0%, 80%);
  height: 100px;
}
.cart-img {
  height: 30px;
  width: 40px;
  border: 2px solid hsl(0, 0%, 80%);
  display: block;
}
.cart-display {
  position: absolute;
  right: 25px;
  /* padding: 20px; */
  border: 2px solid hsl(0, 0%, 90%);
  display:flex;
  align-items: center;
  gap:5px;
}
.navbar-display {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: burlywood;
  /* padding: 15px 7%; */
  /* border: 2px solid hsl(0, 0%, 80%); */

}
.nav-list {
  border: 2px solid hsl(0, 0%, 80%);
  flex: 1;
  list-style: none;
  text-align: center;
}
.nav-list li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 25px;
  cursor: pointer;
}

/* Navbar link styles */
.nav-list a {
  color: inherit;
  text-decoration: none;
}

.nav-list a:hover {
  opacity: 0.7;
}

.nav-list a:visited {
  color: inherit;
}